.custom-font-size .multiselect-dropdown .dropdown-btn {
  width: 200pt !important;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 3px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.custom-file-upload input {
  display: none;
}
.custom-process-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.custom-file-upload,
.custom-process-button {
  display: inline-block;
  padding: 10px 20px; /* Establece la altura deseada aquí */
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.custom-process-button:disabled {
  background-color: #ccc; /* Color de fondo gris cuando está deshabilitado */
  color: #666; /* Color de texto gris cuando está deshabilitado */
}
