@using ClinicApp.Infrastructure.Data
@using Microsoft.Extensions.Options
@using Oauth2.sdk.Models
@inject NavigationManager Navigation
@inject IOptions<CredentialsSettings> options

<AuthorizeView>
    <Authorized>
        <MudMenu>
            <ActivatorContent>
                <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="OnClick" IconSize="Size.Small" IconColor="Color.Primary" Icon="@Icons.Material.Rounded.LockPerson">Logout</MudMenuItem>
            </ChildContent>
        </MudMenu>
        <MudLink Color="Color.Inherit"> @context.User.Identity?.Name </MudLink>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=@Uri.EscapeDataString(options.Value.RedirectUri!)">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void OnClick(MouseEventArgs args) => Navigation.NavigateTo($"Logout", true);
}
