<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Client data'">
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label for="name">Full name</label>
                            <input name="name" type="text" class="form-control" formControlName="name"
                                placeholder="Full name" [ngClass]="{'is-invalid': displayMessage.name }">
                            <span class="invalid-feedback">
                                {{displayMessage.name}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Recipient ID</label>
                            <input type="text" class="form-control" formControlName="recipientId"
                                placeholder="Recipient ID" [ngClass]="{'is-invalid': displayMessage.recipientId }">
                            <span class="invalid-feedback">
                                {{displayMessage.recipientId}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Patient account</label>
                            <input type="text" class="form-control" formControlName="patientAccount"
                                placeholder="Patient account"
                                [ngClass]="{'is-invalid': displayMessage.patientAccount }">
                            <span class="invalid-feedback">
                                {{displayMessage.patientAccount}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Release information</label>
                            <ng-multiselect-dropdown [placeholder]="'Release information'"
                                [settings]="releaseInformationDropdownSettings" [data]="releaseInformationList"
                                formControlName="releaseInformation"
                                [ngClass]="{'is-invalid': !clientForm.get('releaseInformation').valid}">
                            </ng-multiselect-dropdown>
                            <span class="invalid-feedback">
                                <!---item.get('company')?.touched-->
                                <span *ngIf="clientForm.get('releaseInformation').errors?.required">
                                    The release information is required.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 px-1">
                        <div class="form-group">
                            <label>Authorization number account</label>
                            <input type="text" class="form-control" formControlName="authorizationNUmber"
                                placeholder="Authorization number account"
                                [ngClass]="{'is-invalid': displayMessage.authorizationNUmber }">
                            <span class="invalid-feedback">
                                {{displayMessage.authorizationNUmber}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1 px-1">
                        <div class="form-group">
                            <br>
                            <button type="button" class="btn btn-success btn-small " data-toggle="tooltip"
                                title="Add Patient Account" (click)="triggerPatientAccountModal(modalPatientAccount)" [disabled]="!edit_mode">Add</button>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Sequence</label>
                            <input type="number" class="form-control" value="1" formControlName="sequence"
                                placeholder="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Referring provider</label>
                            <input type="text" class="form-control" formControlName="referringProvider"
                                placeholder="Referring provider"
                                [ngClass]="{'is-invalid': displayMessage.referringProvider }">
                            <span class="invalid-feedback">
                                {{displayMessage.referringProvider}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Diagnosis</label>
                            <ng-multiselect-dropdown [placeholder]="'Diagnosis'" [settings]="diagnosisDropdownSettings"
                                [data]="diagnosisList" formControlName="diagnosis"
                                [ngClass]="{'is-invalid': !clientForm.get('diagnosis').valid}">
                            </ng-multiselect-dropdown>
                            <span class="invalid-feedback">
                                <!---item.get('company')?.touched-->
                                <span *ngIf="clientForm.get('diagnosis').errors?.required">
                                    The diganosis is required.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Weekly approved Analyst (Hr)</label>
                            <input type="number" class="form-control" formControlName="weeklyApprovedAnalyst"
                                placeholder="Weekly approved Analyst"
                                [ngClass]="{'is-invalid': displayMessage.weeklyApprovedAnalyst }">
                            <span class="invalid-feedback">
                                {{displayMessage.weeklyApprovedAnalyst}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Weekly approved RBT (Hr)</label>
                            <input type="number" class="form-control" formControlName="weeklyApprovedRBT"
                                placeholder="Weekly approved RBT"
                                [ngClass]="{'is-invalid': displayMessage.weeklyApprovedRBT }">
                            <span class="invalid-feedback">
                                {{displayMessage.weeklyApprovedRBT}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Company</label>
                            <ng-multiselect-dropdown formControlName="company" [placeholder]="'Company'"
                                [settings]="companyDropdownSettings" [data]="companyList"
                                (onSelect)="onSelectCompany($event)"
                                [ngClass]="{'is-invalid': !clientForm.get('company').valid}">
                            </ng-multiselect-dropdown>
                            <span class="invalid-feedback">
                                <!---item.get('company')?.touched-->
                                <span *ngIf="clientForm.get('company').errors?.required">
                                    The company is required.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <h5><strong>Agreement</strong></h5>
                    </div>
                    <div class="col-md-9">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-small " (click)="addAgreement()"
                                [disabled]="!clientForm.get('agreement').valid">Add</button>
                        </div>

                    </div>
                </div>
                <div formArrayName="agreement"
                    *ngFor="let item of clientForm.get('agreement')['controls']; let i = index;">
                    <div class="row" [formGroupName]="i">
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Contractor</label>
                                <ng-multiselect-dropdown formControlName="contractor" [placeholder]="'Contractor'"
                                    [settings]="contractorDropdownSettings" [data]="contractorList"
                                    (onSelect)="onSelectContractor($event)"
                                    [ngClass]="{'is-invalid': !item.get('contractor')?.valid }">
                                </ng-multiselect-dropdown>
                                <span class="invalid-feedback">
                                    <!---item.get('company')?.touched-->
                                    <span *ngIf="item.get('contractor')?.errors?.required">
                                        The contractor is required.
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Payroll</label>
                                <ng-multiselect-dropdown formControlName="payroll" [placeholder]="'Payroll'"
                                    [settings]="payrollDropdownSettings" [data]="payrollList"
                                    [ngClass]="{'is-invalid': !item.get('payroll')?.valid }">
                                </ng-multiselect-dropdown>
                                <span class="invalid-feedback">
                                    <span *ngIf="item.get('payroll')?.errors?.required">
                                        The payroll is required.
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 px-1 ">
                            <div class="form-group ">
                                <label>Rate employees</label>
                                <input type="number" min="0" formControlName="rateEmployees" class="form-control "
                                    placeholder="Rate employee "
                                    [ngClass]="{'is-invalid': !item.get('rateEmployees')?.valid }">
                                <span class="invalid-feedback">
                                    <span *ngIf="item.get('rateEmployees')?.errors?.required">
                                        The rate employees is required.
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 px-1">
                            <div class="form-group">
                                <br>
                                <button type="button" class="btn btn-danger btn-small "
                                    (click)="removeAgreement(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" [disabled]="!clientForm.valid"
                        class="btn btn-neutral btn-info btn-small text-right">Save</button>&nbsp;
                    <button type="button" (click)="clearData()"
                        class="btn btn-neutral btn-danger btn-small text-right">Cancel</button>
                </div>
            </form>
        </app-card>
    </div>
</div>
<!-- Hover table card start -->
<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'List of clients'" [classHeader]="true" [blockClass]="'table-border-style'">
            <div class="row">
                <div class="col-1">
                    &nbsp;
                </div>
                <div class="col-4">
                    <div class="pcoded-search">
                        <span class="searchbar-toggle"> </span>
                        <div class="pcoded-search-box ">
                            <input type="text" placeholder="Enter the name" [(ngModel)]="filterName">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <button value="search" title="Search by name" (click)="searchByName()"
                        class="btn btn-sm btn-info btn-outline-info" [disabled]="filterName==''"><i
                            class="ti-search"></i></button>&nbsp;
                    <button value="clean" title="Clean filter" (click)="cleanFilter()"
                        class="btn btn-sm btn-danger btn-outline-danger"><i
                            class="icofont icofont-not-allowed"></i></button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th class="col-1">#</th>
                                    <th class="col-4">Full name</th>
                                    <th class="col-3">Recipient ID</th>
                                    <th class="col-2">Pacient account</th>
                                    <!-- <th class="col-3">Contractor</th> -->
                                    <th class="col-2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex" *ngFor="let item of client_list | paginate: config; let i = index;">
                                  <pre>{{item}}</pre>
                                    <th class="col-1" scope="row">{{i+1}}</th>
                                    <td class="col-4">{{item.name}}</td>
                                    <td class="col-3">{{item.recipientId}}</td>
                                    <td class="col-2">{{item.patientAccount}}</td>
                                    <!-- <td class="col-3"></td>{{getListContractors(item.agreement)}} -->
                                    <td class="col-2">
                                        <div>
                                            <button type="button" (click)="loadDataInFields(item.id)"
                                                class="btn btn-sm btn-info btn-outline-info" data-toggle="tooltip"
                                                title="Edit"><i class="icofont icofont-eye"></i></button>&nbsp;
                                            <button class="btn btn-sm btn-danger btn-outline-danger"
                                                data-toggle="tooltip" title="Delete"
                                                (click)="triggerModal(modalData, i)"><i
                                                    class="icofont icofont-not-allowed"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>
<!-- Hover table card end -->
<!--Modal of Delete Confirmation-->
<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Warning</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">{{client_del}}</span> profile?</strong>
        </p>

        <p>All data related to the client will be permanently deleted. If this client has an associated agreement, it
            cannot be removed from the system
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Cancel')">Cancel</button>
        <button type="button" class="btn btn-info" (click)="modal.close('Ok')">Confirm</button>
    </div>
</ng-template>

<!-- Hover table card end -->
<!--Modal of patient Account-->
<ng-template #modalPatientAccount let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Patient Account: <span
                class="text-primary">{{client_del}}</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <app-patient-account [id-client]="clientCopy.id"></app-patient-account>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Cancel')">Cancel</button>
        <!-- <button type="button" class="btn btn-info" (click)="modal.close('Ok')">Confirm</button> -->
    </div>
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
